{% extends 'base.html' %}
{% block app_content %}
    {% import 'bootstrap/wtf.html' as wtf %}
    <h1 align="center">Edit Profile</h1>
    <style type="text/css">
        .row {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: auto;
        }

        .col-md-4 {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    </style>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {#    <form action="" method="post">#}
    {#    {{ form.hidden_tag() }}#}
    {#    <p>#}
    {#        #}
    {#        {{ form.username.label }}<br>#}
    {#        {{ form.username(size=32) }}<br>#}
    {#        {% for error in form.username.errors %}#}
    {#            <span style="color: red;">[{{ error }}]</span>#}
    {#            {% endfor %}#}
    {#        </p>#}
    {#        <p>#}
    {#            {{ form.about_me.label }}<br>#}
    {#            {{ form.about_me(cols=50, rows=4) }}<br>#}
    {#            {% for error in form.about_me.errors %}#}
    {#            <span style="color: red;">[{{ error }}]</span>#}
    {#            {% endfor %}#}
    {#        </p>#}
    {#        <p>{{ form.submit() }}</p>#}
    </form>
{% endblock %}